.firstRow > div {
    width: 40px;
    height: 40px;
    border: 2px solid red;
}

.firstRow {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex: 0 1 auto;
    min-height: 0px;
}

#main{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-width: 0px;
    height: 95vh;
    margin: auto;
    max-width: 960px;
    
}

#content{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    /* margin: 0 auto; */
    border: 5px solid green;
}

#sizePrompt{
    font-size: large;
    height: 15vh;
    width: 15vh;
    margin: 25px auto auto auto;
}



